/*

Auburn (Hana): #9C4B3F 156 75 63
Nina: #DE9645 222 150 69
    189 112 66
River: #65C780 101 199 128
Skylar: #7699CF 118 153 207
    110 176 167

OLD COLORS
#28194D --> #404040
#F6C8D4 --> #C8C8C8
#28194D --> #9C4B3F
#D4C4FB --> #7699CF
link hover; #6B00A7

NEW Scheme;
BG: #404040

#DEB399
#BCE7E1


*/


    body {
        background-color: #404040;
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        color: #9C4B3F;

    }


    .container {
        background-color: #E7C6B2;

        top: 0%;
        left: 0%;

        height: 100%;
        width: 100%;

        text-align: center;

        padding-top: 0%;
        padding-bottom: 2%;
        padding-left: 0%;
        padding-right: 0%;

        justify-content: center;
        align-items: center;
    }

    /* Jumbotron- ALWAYS use WITHIN container!! Makes text bigger
    and puts it in a box. Background color and text color specified. */
    .jumbotron {
         top: 10%;
         left: 0%;

         width: inherit;
         height: 35%;

         padding-top: 2%;
         padding-bottom: 2%;
         justify-content: center;
         align-items: center;

         margin-top: 5%;

         background-color: #E7C6B2;
         color: #9C4B3F;
    }

    .stickyBar {
      position: -webkit-sticky; /* Safari */
      position: sticky;

      top: 0;
      width: inherit;
      height: 5%;
      padding-top: 5%;
      padding-bottom: 5%;
      justify-content: center;
      align-items: center;
      background-color: #BCE7E1;
      color: #9C4B3F;
      font-family: Arial, Helvetica, sans-serif;
      border-bottom: 8px double #7699CF;

    }

    .navButton1 {
      top: 10%;

      width: 20%;

      transition-duration: 0.5s;

      display: inline-block;

      background-color: #BCE7E1;

      border-radius: 0px;

      border: 0px solid #404040;

      color: #003D11;

      padding: 2% 2%;

      text-align: center;

      font-size: 120%;
    }

    .navButtonA {
      top: 10%;

      width: 20%;

      transition-duration: 0.5s;

      display:inline-block;

      background-color: #BCE7E1;

      border-radius: 8px;

      border: 1px solid #003D11;

      color: #9C4B3F;

      padding: 2% 2%;

      text-align: center;

      font-size: 100%;
    }

    .navButtonA:hover {
          /*  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            background-color: #D4C4FB;

             #65C780 - 101  199 128 100

             #003D11 - 0 61 17
             */

            box-shadow: 0 4px 6px 0 rgba(0,61,17,0.75), 0 10px 20px 0 rgba(0,0,0,0.19);
            background-color: #65C780;

    }


    .LPButton {

      padding-top: 5%;
      padding-bottom: 5%;
      justify-content: center;
      align-items: center;

      width: inherit;

      transition-duration: 0.5s;

      display: block;

      background-color: #E7C6B2;

      border-radius: 8px;

      border: 2px solid #9C4B3F;

      color: #9C4B3F;

      margin-top: 5%;

      margin-bottom: 5%;

      text-align: center;

      font-size: 120%;

    }

    .LPButton:hover {
      /*  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: #D4C4FB; */

        /*  #DE9645 222 150 69 100

         #9C4B3F 156 75 63 100  */

        box-shadow: 0 4px 6px 0 rgba(156,75,63,0.75), 0 10px 20px 0 rgba(0,0,0,0.19);
        background-color: #DE9645;
    }

    .MButton {
      top: 10%;

      width: 20%;

      transition-duration: 0.5s;

      display: inline-block;

      background-color: #E7C6B2;

      border-radius: 8px;

      border: 1px solid #9C4B3F;

      color: #9C4B3F;

      padding: 2% 2%;

      text-align: center;

      font-size: 100%;

    }

    .MButton:hover {
      /*  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: #D4C4FB; */

        /*  #DE9645 222 150 69 100

         #9C4B3F 156 75 63 100  */

        box-shadow: 0 4px 6px 0 rgba(156,75,63,0.75), 0 10px 20px 0 rgba(0,0,0,0.19);
        background-color: #DE9645;
    }


/* unvisited link */
a:link {
 color:  #404040;
 text-decoration: none;
}

/* visited link */
a:visited {
 color:  #404040;
 text-decoration: none;
}

/* mouse over link */
a:hover {
 color: #32004E;
 text-decoration: none;
}

/* selected link */
a:active {
 color:  #404040;
 text-decoration: none;
}

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #9C4B3F;
        text-align: center;
        font-weight: bold;
        font-size: 150%;
    }

    h3 {
        font-weight: bold;
    }
    h5 {
        font-weight: bold;
    }
    h6 {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #9C4B3F;
        text-align: center;
        font-size: 100%;
    }

    footer {
      text-align: center;
      margin-top: 10%;
      margin-bottom: 0%;
      background-color: #E7C6B2;
    }
